/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Dashboard Layout */
.dashboard {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('./book1.img');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Sidebar Styles */
.sidebar {
    width: 60px;
    background-color: none;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 250px;
}

.nav-text {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .nav-text {
    display: inline;
    opacity: 1;
    margin-left: 10px;
}

.nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.nav a i {
    font-size: 24px;
}

.nav a:hover {
    background-color: #e3a034;
}

.content {
    flex: 1;
    padding: 20px;
    color: white;
    overflow-y: auto;
}

.center-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
}

/* Settings Panel */
.settings-panel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color:none;
    width: 300px;
    height: 100%;
    padding: 20px;
    color: white;
    box-shadow: -3px 0 15px rgba(0,0,0,0.2);
}

.settings-panel h2 {
    color: blanchedalmond;
}

.setting {
    margin: 20px 0;
}

.setting label {
    display: block;
    margin-bottom: 5px;
}

.setting select, .setting input {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

button {
    background-color: burlywood;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color:red;
}
